/* ---------------------------------------------------------------------------------------------
                                              Fonts 
------------------------------------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

/* ---------------------------------------------------------------------------------------------
                                        Common Styles
------------------------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #553D67;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    /* margin-top: 50px;
    margin-bottom: 80px; */
}
img{
    max-width: 100%;
}


/* ---------------------------------------------------------------------------------------------
                                        Banner Styles
------------------------------------------------------------------------------------------------ */

.banner{
    height: 600px;
    background-color: #99738E;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 130px;

    display: flex;

    
}

.left-banner{
    width: 45%;
    padding: 30px;
}
.banner-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 20px;
}
.banner-text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner-text-ellipsis {
    width: 316px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: none;
}
.banner-button {
    border: 0;
    background-color: #E27D60;
    width: 187px;
    height: 56px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.right-banner{
    width: 45%;
    display: flex;
    align-items: flex-end;
}
.banner-img{
    display: block;
    width: 100%;
    height: 92%;
}



/* ---------------------------------------------------------------------------------------------
                                        Media Queries
------------------------------------------------------------------------------------------------ */


/* ---------------------------------------------------------------------------------------------
                                        Tablet Devices
------------------------------------------------------------------------------------------------ */

@media only screen and (min-width:577px) and (max-width:768px) {
    .banner{

    }
    
}