/* ---------------------------------------------------------------------------------------------
                                              Fonts 
------------------------------------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

/* ---------------------------------------------------------------------------------------------
                                        Common Styles
------------------------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #553D67;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    /* margin-top: 50px;
    margin-bottom: 80px; */
}
img{
    max-width: 100%;
}


/* ---------------------------------------------------------------------------------------------
                                        Banner Styles
------------------------------------------------------------------------------------------------ */

.banner{
    height: 600px;
    background-color: #99738E;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 100px;

    display: flex;
}

.left-banner{
    width: 45%;
    padding: 30px;
}
.banner-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 20px;
}
.banner-text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner-text-ellipsis {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: none;
}
.banner-button {
    border: 0;
    background-color: #E27D60;
    width: 187px;
    height: 56px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.right-banner{
    width: 45%;
    display: flex;
    align-items: flex-end;
}
.banner-img{
    display: block;
    width: 100%;
    height: 92%;
}


/* ---------------------------------------------------------------------------------------------
                                        Blogs Styles
------------------------------------------------------------------------------------------------ */

.middle-part {
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-column-gap: 15px;
    margin-bottom: 130px;
}
.middle-left {
    height: 280px;
    width: 280px;
    background-color: #99738E;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.normal-anchor {
    height: 50px;
    width: 240px;
    margin-top: 30px;
    text-decoration: none;
    background-color: rgb(196, 187, 187);
    color: #161616;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    border-radius: 10px;
    padding: 15px;
}
.highlighted-anchor {
    height: 50px;
    width: 240px;
    margin-top: 30px;
    text-decoration: none;
    background-color: #E27D60;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    border-radius: 10px;
    padding: 15px;
}
.middle-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}
.blog {
    border: 1px solid #161616;
    /* width: 312px;
    height: 362px; */
    border-radius: 10px;
}
.transfer {
    width: 100px;
    margin-top: 24px;
    margin-bottom: 19px;
    font-size: 12px;
    font-weight: 500;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 17px;
    margin-left: 20px;
}
.blog-text {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #161616;
    padding-right: 20px;
}
.blog-info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    padding-left: 20px;
}
.fa-clock {
    color: rgba(22, 22, 22, 0.7);
}

.blog-info span {
    color: rgba(22, 22, 22, 0.7);
    margin-left: 3px;
}

.fa-comment-dots {
    color: rgba(22, 22, 22, 0.7);
}


/* ---------------------------------------------------------------------------------------------
                                        Media Queries
------------------------------------------------------------------------------------------------ */


/* ---------------------------------------------------------------------------------------------
                                        Tablet Devices
------------------------------------------------------------------------------------------------ */

@media only screen and (min-width:577px) and (max-width:768px) {
    .banner{
        width: 100%;
        height: 400px;
        align-items: center;
    }
    .banner-title{
        font-size: 40px;
        margin-top: 31px;
        margin-bottom: 10px;
    }
    .banner-text{
        display: none;
    }
    .banner-text-ellipsis{
        display: block;
        margin-bottom: 20px;
    }
    .right-banner{
        width: 100%;
        height: 100%;
    }
    
}




/* ---------------------------------------------------------------------------------------------
                                        Mobile Devices
------------------------------------------------------------------------------------------------ */

@media only screen and (max-width:576px) {

   .banner{
    width: 100%;
    height: 470px;
    flex-direction: column;
   }
   .left-banner,
   .right-banner{
    width: 100%;
   }
   .left-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
   }
   .right-banner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
   }

   .banner-title {
       font-size: 22px;
       margin-bottom: 8px;
       margin-top: 25px;
   }

   .banner-text {
       display: none;
   }

   .banner-text-ellipsis {
       display: block;
       font-size: 14px;
       margin-bottom: 16px;
       
   }
   .banner-button{
    width: 150px;
    height: 49px;
   }
   .banner-img{
    height: 230px;
    width: 233px;
   }
   

    
}